@media screen and (max-width: 768px) {
    .search-box {
        width: 100%;
        margin-right: 0;
    }

    .search-text {
        width: 100%;
    }

    .temas {
        grid-template-columns: repeat(2, 1fr);
    }

    .tema-text {
        font-size: 12px;
    }

    .eventos {
        grid-template-columns: repeat(2, 1fr);
    }

    .tema-nome,
    .data,
    .apresentacao,
    .palestrante {
        font-size: 12px;
    }
}